<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación HTML5</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datepicker")
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Cibertec Web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <nav class="navbar-collapse collapse">
                    @Html.Partial("_MenuOpciones")
                    @Html.Partial("_LoginParcial")
                </nav>
            </div>
        </div>
    </header>
    <section class="container body-content">
        @RenderBody()
    </section>
    @*<footer>
            &copy; @DateTime.Now.Year - Todos los derechos reservados al autor.
        </footer>*@
    @RenderSection("scripts", required: false)
</body>
</html>
